* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

.headerSection {
  position: relative;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #EE3D1B url(../img/seacost.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  height: auto;
  min-height: 1000px;
}

.headerSection__header {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 115px;
  padding-top: 58px;
  z-index: 1;
}

@media only screen and (max-width: 1380px) {
  .headerSection__header {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.headerSection__header--logo {
  cursor: pointer;
  font-size: 50px;
  letter-spacing: 1px;
  line-height: 75px;
  font-weight: 800;
}

.headerSection__header--logo a {
  text-decoration: none;
  color: #000000;
}

.headerSection__header--nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.headerSection__header--nav a {
  text-decoration: none;
  font-size: 25px;
  letter-spacing: 0px;
  line-height: 69px;
  color: #000000;
  font-weight: 800;
}

.headerSection__header--nav a:hover {
  color: grey;
}

.headerSection__header--nav ul {
  list-style: none;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media only screen and (max-width: 800px) {
  .headerSection__header--nav ul {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    margin-left: -110px;
    margin: 30px;
  }
}

.headerSection__header--nav li {
  margin-left: 94px;
}

@media only screen and (max-width: 800px) {
  .headerSection__header--nav li {
    margin-left: 0;
  }
}

.headerSection__header--nav li ul {
  display: none;
  position: absolute;
  margin-left: -30px;
  width: auto;
  height: auto;
  border-radius: 7px;
  -webkit-filter: drop-shadow(0px 3px 3.5px rgba(0, 0, 0, 0.35));
          filter: drop-shadow(0px 3px 3.5px rgba(0, 0, 0, 0.35));
  background-color: #dfdede;
  text-align: center;
  padding: 30px;
}

.headerSection__header--nav li ul li {
  margin-left: 0;
}

.headerSection__header--nav li:hover ul {
  display: block;
}

.headerSection__copy {
  color: white;
  float: right;
  margin-right: 200px;
  margin-top: 250px;
}

@media only screen and (max-width: 920px) {
  .headerSection__copy {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-right: 0;
    margin-top: 100px;
  }
}

.headerSection__copy--header {
  max-width: 490px;
  font-size: 50px;
  letter-spacing: 1px;
  line-height: 70px;
  color: #ffffff;
  font-weight: 800;
}

@media only screen and (max-width: 800px) {
  .headerSection__copy--header {
    font-size: 42px;
  }
}

.headerSection__copy--text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 40px;
}

.headerSection__copy--text p {
  font-size: 21px;
  letter-spacing: 0px;
  line-height: 32px;
  font-weight: 600;
  max-width: 240px;
  margin-top: -5px;
}

.headerSection__copy--text a {
  padding: 15px  30px;
  border-radius: 20px;
  background-color: transparent;
  border: 3.295105432762023px solid #ffffff;
  font-size: 24px;
  letter-spacing: 0px;
  color: #ffffff;
  font-weight: 800;
  margin-left: 35px;
  cursor: pointer;
  text-decoration: none;
  text-align: center;
}

@media only screen and (max-width: 800px) {
  .headerSection__copy--text a {
    margin-left: 15px;
  }
}

.headerSection__copy--text a:hover {
  border-color: black;
  color: black;
}

.firstSection {
  margin: 55px 0 75px 115px;
  color: #53686c;
}

.firstSection__header {
  font-size: 49px;
  letter-spacing: 0px;
  line-height: 86px;
  font-weight: 700;
  margin-bottom: 55px;
}

.firstSection__copy {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 16px;
  letter-spacing: 0px;
  line-height: 28px;
  font-weight: 400;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.firstSection__copy--firstParagraph {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.firstSection__copy--secondParagraph {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 115px;
  margin-left: 55px;
}

.secondSection {
  padding: 55px 115px 75px 115px;
  color: #53686c;
  background-color: #f9f9f9;
}

.secondSection__header {
  font-size: 49px;
  letter-spacing: 0px;
  line-height: 86px;
  font-weight: 700;
  margin-bottom: 55px;
}

.secondSection__copy {
  font-size: 16px;
  letter-spacing: 0px;
  line-height: 28px;
  font-weight: 400;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.secondSection__copy--firstParagraph {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 35px;
}

@media only screen and (max-width: 960px) {
  .secondSection__copy--firstParagraph {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.secondSection__copy--firstParagraph p {
  display: block;
  margin-left: 45px;
  width: 100%;
  margin-bottom: 35px;
}

@media only screen and (max-width: 960px) {
  .secondSection__copy--firstParagraph p {
    margin-left: 0;
  }
}

.secondSection__copy--secondParagraph p {
  display: block;
  width: 100%;
  margin-bottom: 35px;
}

.secondSection__copy--button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.secondSection__copy--button a {
  padding: 20px 25px;
  border-radius: 20px;
  background-color: #ffffff;
  border: 3.295105432762023px solid #53686c;
  font-size: 24px;
  letter-spacing: 0px;
  line-height: 16px;
  color: #627478;
  font-weight: 800;
  cursor: pointer;
  margin-top: 40px;
  text-decoration: none;
  text-align: center;
}

.secondSection__copy--button a:hover {
  border-color: black;
  color: black;
}

.gallery {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (400px)[3];
      grid-template-columns: repeat(3, 400px);
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-line-pack: center;
      align-content: center;
  grid-gap: 70px;
  margin: 75px 0;
}

@media only screen and (max-width: 1360px) {
  .gallery {
    -ms-grid-columns: (400px)[2];
        grid-template-columns: repeat(2, 400px);
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media only screen and (max-width: 900px) {
  .gallery {
    -ms-grid-columns: (400px)[1];
        grid-template-columns: repeat(1, 400px);
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.gallery img {
  width: 400px;
  height: 400px;
  cursor: pointer;
}

.footer {
  background-color: #535353;
  padding: 40px 0 40px 115px;
}

.footer h3 {
  font-size: 16px;
  letter-spacing: 0px;
  line-height: 28px;
  color: #fffefe;
  font-weight: 400;
}

.lightbox {
  position: fixed;
  z-index: 1000;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  display: none;
}

.lightbox img {
  height: 100%;
  width: 100%;
}

.lightbox.active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
/*# sourceMappingURL=style.css.map */